:root{
	--color-red: #eb3b5a;
	--color-orange: #fa8231;
	--color-green: #20bf6b;
	--color-dark: #2d3436;
	--color-primary: #2271b1;
	--color-primary-hover: #135e96;
}
.add-new-visitor .spin {
    position: relative;
	display: inline-block;
	height: 20px;
	width: 20px;
	color: transparent;
	overflow: hidden;
	background: var(--color-dark);
	margin-left: 10px;
	border-radius: 50%;
    animation: loading-spin 0.75s linear infinite;
}
.add-new-visitor .spin::after{
    position: absolute;
    top: 3px;
    left: calc(50% - 2px);
    height: 4px;
    width: 4px;
    background-color: #fff;
    border-radius: 50%;
    content: '';
}
.add-new-visitor .submit {
	display: flex;
	align-items: center;
}
@keyframes loading-spin{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

.get-visitor-list-parent .item-will-be-delete {
	background: var(--color-red) !important;
}
.get-visitor-list-parent .item-will-be-delete * {
	color: white !important;
}
/* update form */
.gv-get-single-item,
.gv-get-single-item *{
	box-sizing: border-box;
}
.gv-get-single-item {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 99999;
}
.gv-get-single-item.popupvisible{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	animation: gvpopupfadein 0.3s linear both;
}
.gv-get-single-item.popup-reverse{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	animation: gvpopupfadein-reverse 0.3s linear both;
}



.gv-get-single-item form {
	background: white;
	padding: 15px 25px 25px;
	border-radius: 4px;
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
	margin-top: 130px;
}
.gv-get-single-item form input[type="email"]{
	width: 100%;
}
.gv-get-single-item form p{
	margin-bottom: 0;
}
.gv-get-single-item form button{
	margin-left: 15px !important;
}
.gv-get-single-item input[type="email"]{
	margin-bottom: 15px;
}

/* popup header */
.gv-get-single-item .popup-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 15px;
}
.gv-get-single-item .popup-header span {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 25px;
}

.gv-get-single-item .popup-header span.close {
	width: 25px;
	font-size: 13px;
	background: var(--color-red);
	color: white;
	border-radius: 4px;
	cursor: pointer;
}
@keyframes gvpopupfadein{
	0%{
		opacity: 0;
	}100%{
		opacity: 1;
	}
}
@keyframes gvpopupfadein-reverse{
	0%{
		opacity: 1;
	}100%{
		opacity: 0;
	}
}

/* settings style */
.gv-settings .tab-parent {
	background: white;
	padding: 15px;
	min-height: 300px;
}

.gv-settings .tab-parent ul {
	display: flex;
	margin: 0;
	border-bottom: 1px solid #dee2e6;
}
.gv-settings .tab-parent ul li {
	margin-bottom: 0;
}
.gv-settings .tab-parent ul a {
	display: inline-flex;
	padding: 7px 15px;
	text-decoration: none;
}
.gv-settings .tab-parent ul li.ui-tabs-active.ui-state-active a {
	background-color: var(--color-primary);
	color: white;
	box-shadow: none;
}
.gv-settings .tab-parent #tabs > div {
	padding-top: 0;
}
.gv-settings .small {
	display: block;
	color: #888;
	font-size: 85%;
	margin: 5px 0;
}

.button.reset-general-options {
	margin-left: 15px;
	background: #636e72 !important;
	color: white;
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.button.reset-general-options:focus,
.button.reset-general-options:hover{
	background: #2d3436 !important;
	color: white !important;
}

.gv-settings .shortcode {
	display: inline-flex;
	align-items: center;
}
.gv-settings .shortcode > span {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 5px 7px;
	min-height: 20px;
	border: 1px solid #dee2e6;
}
.gv-settings .get-shortcode{
	user-select: all;
}
.gv-settings .copy-shortcode {
	background: #636e72;
	border-color: #636e72;
	color: white;
	font-size: 12px;
	font-weight: 600;
	padding: 5px 15px !important;
	cursor: pointer;
}
.gv-settings .copy-shortcode:hover{
	background: #2d3436;
	border-color: #2d3436;
}

.gv-settings .copy-notice {
	position: relative;
	background: #2d3436;
	color: white;
	margin-left: 20px;
	font-size: 12px;
	padding: 5px 15px !important;
}

.gv-settings .copy-notice::after{
	position: absolute;
	box-sizing: border-box;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-right-color: #2d3436;
	top: calc(50% - 7px);
	right: 100%;
	content: '';
	z-index: 9999;
}